div.first {
    background: linear-gradient(to right, rgb(32, 56, 163),  rgb(8, 163, 99));
}
div.second {
    background: linear-gradient(to right, rgb(206, 44, 198),  rgb(219, 132, 19));
}

img {
    border-radius: 5px;
}

.fa-star, .fa-link {
    position: relative;
    top: 25%;
    right: 22px;
    color: white;
}

.fa-meteor {
    position: relative;
    top: 20%;
    right: 40px;
    color: white;
}